<div class="container">
    <div class="row mt-5">
        <div class="col-xl-8 offset-xl-2">
            <div class="card shadow">
                <div class="card-header text-right py-3">
                    <a [routerLink]="['/event/create']" href="#" class="btn btn-primary" type="button">Nuevo</a>
                </div>
                <ngx-datatable [rows]="event$" [columns]="columns" class="bootstrap" rowHeight="auto"
                    [columnMode]="'force'">
                    <ngx-datatable-column name="Titulos">
                        <ng-template let-row="row" let-id="row.id" ngx-datatable-cell-template>
                            {{ row.title }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Comienza">
                        <ng-template let-row="row" let-id="row.id" ngx-datatable-cell-template>
                            {{ row.willStart }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Termina">
                        <ng-template let-row="row" let-id="row.id" ngx-datatable-cell-template>
                            {{ row.willEnd }}
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
    </div>
</div>