<div class="container">
    <div class="row mt-5">
        <div class="col-xl-8 offset-xl-2">
            <div class="card shadow">
                <div class="card-header text-right py-3"><button class="btn btn-primary" type="button">Nuevo</button>
                </div>
                <ngx-datatable [rows]="rows" [columns]="columns" class="bootstrap" rowHeight="auto" [columnMode]="'force'">
                </ngx-datatable>
                <div class="card-body">
                    
                </div>
            </div>
        </div>
    </div>
</div>